In [40]:
import numpy as np
import pandas as pd

import warnings
warnings.simplefilter('ignore', FutureWarning)

%matplotlib inline
import matplotlib.pyplot as plt

In [1]:
#https://www.thepythoncode.com/article/extracting-and-submitting-web-page-forms-in-python
# # Seaborn visualization library
# import seaborn as sns
# # Create the default pairplot
# sns.pairplot(df)

# Pre-processing code from template - START
Project3Git/04 Pre-processing Template/01 Pre-processing- X-Y split - Y One-Hot Encoding - Train-Test Split - Scaling X Training Data.ipynb

In [48]:
#Import encoded data
bankchurners = pd.read_csv('../03 Feature Engineering/bankchurnersencoded.csv')
bankchurners.head(10)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,1,3,3,1,4,1,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,0,5,5,2,2,1,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,1,3,5,1,5,1,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,0,4,3,3,2,1,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,1,3,2,1,4,1,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,713061558,Existing Customer,44,1,2,5,1,3,1,36,...,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
6,810347208,Existing Customer,51,1,4,1,1,6,3,46,...,1,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066
7,818906208,Existing Customer,32,1,0,3,3,4,2,27,...,2,2,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048
8,710930508,Existing Customer,37,1,3,2,2,4,1,36,...,2,0,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113
9,719661558,Existing Customer,48,1,2,5,2,5,1,36,...,3,3,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144

In [49]:
number_cols = ['Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'
]

category_cols = [x for x in bankchurners.columns if x not in ['CLIENTNUM']+number_cols]

In [50]:
bankchurners = pd.get_dummies(
    bankchurners,
    columns=category_cols
)

In [51]:
bankchurners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 40 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CLIENTNUM                         10127 non-null  int64
 1   Customer_Age                      10127 non-null  int64
 2   Dependent_count                   10127 non-null  int64
 3   Months_on_book                    10127 non-null  int64
 4   Total_Relationship_Count          10127 non-null  int64
 5   Months_Inactive_12_mon            10127 non-null  int64
 6   Contacts_Count_12_mon             10127 non-null  int64
 7   Credit_Limit                      10127 non-null  float64
 8   Total_Revolving_Bal               10127 non-null  int64
 9   Avg_Open_To_Buy                   10127 non-null  float64
 10  Total_Amt_Chng_Q4_Q1              10127 non-null  float64
 11  Total_Trans_Amt                   10127 non-null  int64
 12  Total_Trans_Ct                    10127 non-null  int64
 13  Total_Ct_Chng_Q4_Q1               10127 non-null  float64
 14  Avg_Utilization_Ratio             10127 non-null  float64
 15  Attrition_Flag_Attrited Customer  10127 non-null  uint8
 16  Attrition_Flag_Existing Customer  10127 non-null  uint8
 17  Gender_0                          10127 non-null  uint8
 18  Gender_1                          10127 non-null  uint8
 19  Education_Level_1                 10127 non-null  uint8
 20  Education_Level_2                 10127 non-null  uint8
 21  Education_Level_3                 10127 non-null  uint8
 22  Education_Level_4                 10127 non-null  uint8
 23  Education_Level_5                 10127 non-null  uint8
 24  Education_Level_6                 10127 non-null  uint8
 25  Education_Level_7                 10127 non-null  uint8
 26  Marital_Status_0                  10127 non-null  uint8
 27  Marital_Status_1                  10127 non-null  uint8
 28  Marital_Status_2                  10127 non-null  uint8
 29  Marital_Status_3                  10127 non-null  uint8
 30  Income_Category_1                 10127 non-null  uint8
 31  Income_Category_2                 10127 non-null  uint8
 32  Income_Category_3                 10127 non-null  uint8
 33  Income_Category_4                 10127 non-null  uint8
 34  Income_Category_5                 10127 non-null  uint8
 35  Income_Category_6                 10127 non-null  uint8
 36  Card_Category_1                   10127 non-null  uint8
 37  Card_Category_2                   10127 non-null  uint8
 38  Card_Category_3                   10127 non-null  uint8
 39  Card_Category_4                   10127 non-null  uint8
dtypes: float64(5), int64(10), uint8(25)
memory usage: 1.4 MB

In [52]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [53]:
feature_cols = [x for x in bankchurners.columns if x not in 
    ['Attrition_Flag_Existing Customer', 'CLIENTNUM', 'Attrition_Flag_Attrited Customer']]

In [55]:
X=bankchurnersencoded[feature_cols]
Y=bankchurnersencoded[['Attrition_Flag_Existing Customer']]
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42)

regression_model=LogisticRegression(C=500,max_iter=50000)
regression_model.fit(X_train, np.ravel(Y_train))


print('Logistic Regression:')
print('Traning Model accruracy: {:.2%}'.format(model.score(X_train,Y_train)))
print('Test Model accruracy: {:.2%}'.format(model.score(X_test,Y_test['Attrition_Flag_Existing Customer'])))

Logistic Regression:
Traning Model accruracy: 90.16%
Test Model accruracy: 88.70%

In [ ]:
predictions_regression = regression_model.predict()